<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<div class="col-xs-6">
<h3 class="sub-header">Products</h3>
<div class="table-responsive">
<table class="table table-striped">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <a href='https://<%="#{@shop_session.url}/admin/products/#{product.id}"%>' target="_blank"> <%= product.id %> </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<h3>Orders</h3>

      <% @orders.each do |order| %>

          <p><%= link_to order.name, "https://#{current_shop.url}/admin/orders/#{order.id}", :target => 'blank' %></p>

      
      <% end %>
